body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    background-color: #f3f3f4;
    font-size: 13px;
}

html {
    width: 800px;
    height: 400px;
    background-color: #f3f3f4;
}

.image-header {
    background-color: #2f4050;
    max-height: 100px;
    color: white;
    padding: 15px;
}

.image-header h1 {
    margin: 10px;
}

.image-header img {
    margin: 20px;
}

.sidebar-title {
    padding: 17px 26px;
}

.setings-item {
    background: white;
    border-top: 1px solid #ddd;
    padding: 20px 30px;
}

select.form-control {
    font-size: 11px;
    padding: 5px;
    height: 20px;
}

.animate, .animate:hover, .animate:focus {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.tile {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    opacity: 0.7;
    font-size: 11px;
    border: 1px solid #ddd
}

.tile:hover {
    opacity: 1;
}

.tile.active {
    border: 1px solid #2f4050;
}

.tile.tile-total {
    border: 1px solid rgba(47, 64, 80, 0.42);
}

.image-footer {
    background-color: #2f4050;
    max-height: 100px;
    color: white;
    padding: 15px;
}

.image-footer .tile {
    background: #3b536b;
    border: 1px solid #3b536b;
}

#editForm .col-xs-2 {
    width: 20%;
}

.tile-edit {
    padding: 0 0 15px 0;
    background-color: #f7f7f7;
}

.tile-edit h2 {
    font-size: 17px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}